<div class="login-container">
  <h2>Reset hasła</h2>

  <form [formGroup]="form" (ngSubmit)="submit()">
    <label>Email</label>
    <input type="email" formControlName="email" />

    <div class="error-message" *ngIf="email?.invalid && email?.touched">
      Podaj poprawny adres email
    </div>

    <button type="submit">Wyślij link resetujący hasło</button>
  </form>

  <p class="server-message" *ngIf="message">{{ message }}</p>
  <p class="error-message" *ngIf="error">{{ error }}</p>
</div>
